* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #f1f1f1;
  box-sizing: border-box;
}

header {
  margin-top: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 220px;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  max-width: 360px;
  background-image: linear-gradient(to right bottom, #040382, #50bdfc, #040382);
  border-radius: 10px;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.head-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px 10px;
  color: white;
  font-style: italic;
  text-shadow: 1px 0 2px #000;
  text-transform: uppercase;
}

.chip {
  display: flex;
}

.card-ship {
  position: absolute;
  left: 50px;
  width: 65px;
}

.arrow {
  border: 15px solid;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 33%;
  left: 10px;
}

.card-number {
  color: white;
  text-align: center;
  position: absolute;
  top: 55%;
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  width: 100%;
  letter-spacing: 5px;
  text-shadow: 1px 0 2px #000;
}

.card-validdate {
  display: flex;
  align-items: center;
  position: absolute;
  top: 62%;
  left: 35%;
  margin: 15px 0;
}

.card-validdate > :nth-child(1) {
  font-size: 10px;
  color: white;
  padding-right: 10px;
}

.card-validdate > :nth-child(2) {
  font-size: 12px;
  letter-spacing: 3px;
  color: white;
}

.card-holder {
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 4px;
  font-size: 16px;
  position: absolute;
  bottom: 7%;
  left: 30px;
  text-shadow: 1px 0 2px #000;
  color: white;
}

.card-type {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ef991a;
  right: 30px;
  bottom: 7%;
}

.card-type1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  bottom: 7%;
  right: 50px;
}

.black-bar {
  width: 100%;
  height: 40px;
  background: #000;
  position: absolute;
  top: 10%;
}

.card-line {
  width: 75%;
  height: 34px;
  background: #ccc;
  position: absolute;
  top: 33%;
}

hr {
  margin: 2px 0;
}

.cvc-white {
  width: 85%;
  height: 26px;
  background: #fff;
  position: absolute;
  top: 35%;
  color: #000;
  padding-right: 10px;
  font-size: 14px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.card-term {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  font-size: 10px;
}

.card-term p {
  color: white;
  margin: 10px 0;
  text-align: justify;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  column-gap: 2%;
}

.form-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 360px;
}

.input-top {
  display: flex;
  flex-direction: column;
}

.full {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
}

.input-wrap {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.date-input {
  display: flex;
}

.half {
  width: 100%;
}

label {
  left: 0;
  user-select: none;
  z-index: -1;
  color: #d8d8d8d8;
  transition: all 0.5 ease;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  outline: 0 !important;
  width: 100%;
  color: #30303030;
  line-height: 2.35rem;
  font-size: 1.3rem;
}

button {
  left: 0;
  cursor: pointer;
  width: 100%;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  background-color: #5d90e2;
  color: #fefefe;
  border: none;
  border-radius: 8px;
}

button:active {
  transform: scale(0.95);
}
